<!-- The viewport is divided into two parts having max-width 70% and 30% -->
<div class="layout-row">
  <!--
  Content in 70%: (TODO: Allow customization by organization)
  Cover Image
  Organization/Application Name
  Organization/Application Description

  This content will be hidden for smaller screens.
  -->

  <div class="flex-70 layout-column align-center align-items-center hide-lt-sm cover">
    <div class="cover-content">
      <h1 class="mat-display-1 cover-title">{{ 'APP_NAME' | translate }}</h1>
      <p class="mat-headline cover-description">
        Softecki Microfinance Management System &mdash; the core banking system for running microfinance institutions.
      </p>
    </div>
  </div>

  <!--
      Content in 30%: (TODO: Allow customization of Name, Logo and Contact Information by organization)
      Language Selector
      Organization/Application Name with Logo
      Form
      Contact Information/Resources
      Footer
      -->

  <div class="layout-column flex-gt-sm-30 login-container">
    <!-- Language Selector to the extreme right -->
    <div class="layout-row-reverse">
      <mifosx-language-selector class="p-t-10 p-r-10 width-40"></mifosx-language-selector>
      <mifosx-theme-toggle class="p-t-10"></mifosx-theme-toggle>
      @if (allowServerSwitch()) {
        <mifosx-server-selector class="p-t-10"></mifosx-server-selector>
      }
    </div>

    <!-- Logo with Organization Name -->
    <div class="layout-row align-center-center flex-auto">
      <img [src]="logoPath" (error)="onLogoError()" alt="{{ 'APP_NAME' | translate }} Logo" class="img-container" />
    </div>

    <!-- Form Section -->
    <div class="layout-column align-center-center">
      <!-- Tenant Identifier Name -->
      @if (displayTenantSelector()) {
        <mifosx-tenant-selector></mifosx-tenant-selector>
      }

      <!--
          Type of Form:
          Login
          Reset Password
          Two Factor Authentication
          -->
      @if (!resetPassword && !twoFactorAuthenticationRequired) {
        <mifosx-login-form></mifosx-login-form>
      }

      <div class="layout-row">
        @if (resetPassword) {
          <mifosx-reset-password></mifosx-reset-password>
        }
        @if (twoFactorAuthenticationRequired) {
          <mifosx-two-factor-authentication></mifosx-two-factor-authentication>
        }
      </div>
    </div>

    <!-- Footer -->
    <mifosx-footer [styleClass]="'m-t-90'"></mifosx-footer>

    <div class="layout-row m-b-20 m-r-10" align="end">
      <a (click)="reloadSettings()"><fa-icon icon="refresh"></fa-icon></a>
    </div>
  </div>
</div>
